// 
// Elementos base footer
//

body {
  background-image: url(../img/background.jpg);
  box-sizing: inherit;
  font-family: $text-p;
  color: $text;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 30px;
  margin: 5% 0 0 0;
}

h4 {
  margin: 0;
  font-size: 25px;
}

a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $text;
  border-bottom: 2px solid $text;
}

p {
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

img {
  width: inherit;
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
}

.btn{
  background: #fff;
  border: 1px solid $text;
  padding: 1% 10%;
  font-size: 20px;
}


.social li{
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 20px; 
}

footer {
  background: $background-main-post;
  padding: 10% 0;
}

footer p {
  font-weight: bold;
  margin: 0 3%;
}

footer .social {
  margin-top: -54px;
}