// Variables

// @import google fonts
@import url(https://fonts.googleapis.com/css?family=Quicksand|Graduate);
// Font s
$text-p: 'Quicksand', sans-serif;
$titles: 'Graduate', cursive;

// colors 
$background: url(../); // gris
$background-nav: #E8E7E6; // gris
$background-post-recent: #E8E7E6; // gris
$background-main-post: #E8E7E6; // gris
$text: #535257; // negro
$text-secondary: #A4A3A5; // gris claro
