// Variables

// @import google fonts
@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Quicksand);

// Font s
$text-p: 'Quicksand', sans-serif;
$titles: 'Oleo Script Swash Caps', cursive;

// colors 
$background: url(../img/background.jpg); // gris
$background-nav: #; // gris
$background-post-recent: #E8E7E6; // gris
$background-main-post: #E8E7E6; // gris
$text: #535257; // negro
$text-secondary: #A4A3A5; // gris claro
