// Estilos de Preview Post

.post-main {
  max-width: 100%;
}

.post-preview img {
  max-width: 100%;
}

.post-preview {
  max-width: 100%;
  margin: 20% 0 0 0;
  padding: 2% 2.5%;
  background: #E8E7E6;
}
  @media (min-width: 640px){
    .post-preview {
    max-width: 40%;
    margin: 6% 0 0 3%;
    padding: 2% 2.5%;
    background: #E8E7E6;
    float: left;
  }
}

.post-page {
  margin: 5% 0 20% 0;
  padding-left: 18%;
  clear: both;
}

.post-page li{
  padding: 0 2%;
  font-size: 30px;
  font-weight: bold;
}

.read-more {
  background: #fff;
  border: 1px solid $text;
  padding: 1% 10%;
  font-size: 20px;
}

.updated {
  font-weight: bold;
  font-size: 20px;
}

.updated-preview {
  color: $text-secondary;
  font-size: 20px;
}

.post-body {
  max-width: 800px;
  background: #E8E7E6;
  margin: 2.2% 0 10% 0;
  padding: 5% 3%;
}

.post-body img{
  margin: 10% auto;
  display: block;
}

.post-body .updated-preview{
  margin: 2% 0;
}


.article-name {
  font-size: 60px;
}

.author-email {
  font-size: 25px;
}
