// Estilos de Preview Post

.main-post {
  max-width: 100%;
}

.preview-post img {
  max-width: 100%;
}

.preview-post {
  max-width: 90%;
  margin:10% 5% 0 5%;
  padding: 2% 2.5%;
//  background: #E8E7E6;
}

.page-post {
  margin: 5% 0 20% 0;
  padding-left: 18%; 
}

.page-post li{
  padding: 0 2%;
  font-size: 30px;
  font-weight: bold;
}

.read-more {
  background: #fff;
  border: 1px solid $text;
  padding: 1% 10%;
  font-size: 20px;
}

.update {
  font-weight: bold;
  font-size: 20px;
}

.update-preview {
  color: $text-secondary;
  font-size: 20px;
}

.post-body {
  max-width: 800px;
  background: #E8E7E6;
  margin: 2.2% 0 10% 0;
  padding: 5% 3%;
}

.post-body img{
  margin: 10% auto;
  display: block;
}

.post-body .update-preview{
  margin: 2% 0;
}


.article-name {
  font-size: 60px;
}

.author-email {
  font-size: 25px;
}
