//Estilos del header
// 
//
h1 {
	font-size: 2em;
	font-family: $titles;
    margin: 0 0% 10%;
}

.logo a{
  font-size: 50px;
}

.logo { 
  padding: 8% 3%;
}

.main-nav, .logo {
  background: $background-main-post;
}

.main-nav li{
  padding: 2% 2%;
}

.main-nav ul {
  padding: 0 3%;
}