@media (min-width: 640px){
	.preview-post {
    max-width: 40%;
    margin: 6% 2.5% 0px 2%;
    padding: 2% 2.5%;
	background: #E8E7E6;
    float: left;
    border: 1px solid #000;
	}

	.footer {
		max-width: 100%;
		width: 100%;
		bottom: 0;
		position: fixed;
	}

}