// estilos de side bar derecho
//

.recent-post {
  margin-top: 2.3%;
  max-width: 100%;
  background: $background-recent-post;
  padding: 2% 2.5%;
}

.recent-post a{
  font-size: 25px;
}

.update-preview {
  display: block;
  margin: 3% 0 20% 0;
}

.see-more {
  float: right;
  margin-top: -13%;
}