//
// estilos de side bar derecho
//

.post-recent {
  margin-top: 2.3%;
  max-width: 100%;
  background: $background-post-recent;
  padding: 2% 2.5%;
}

.post-recent a{
  font-size: 25px;
}

.updated-preview {
  display: block;
  margin: 3% 0 20% 0;
}

.see-more {
  float: right;
  margin-top: -13%;
}